#!/bin/bash
set -euo pipefail

: "${PATH_BASE:="$(git rev-parse --show-toplevel)"}"

set::path() {
  # easy access to cloud-init scripts
  PATH_add "${PATH_BASE}/vendors/cloud-init"
  # easy access to needed binaries
  PATH_add "${PATH_BASE}/vendors/cloud-init/.bin"
  # repo scripts
  PATH_add "${PATH_BASE}/scripts"
}

env::export() {
  local -r env="${1}"
  # shellcheck disable=SC2046
  [ ! -f "${env}" ] || {
    export $(grep -v '^#' "${env}" | sed -E 's/\s+=\s+/=/g' | xargs -d '\n')

    ! command -v watch_file &>/dev/null ||
      watch_file "${env}"
  }
}

template::ensure() {
  local -r file="${1}"
  [ -f "${file}" ] ||
    cp "${file}.template" "${file}"

  env::export "${file}"
}


main() {
  set::path
  template::ensure "${PATH_BASE}/.env.secret"
}

[ -z "${DIRENV_IN_ENVRC}" ] || main
