#!/bin/bash

set -euo pipefail

: "${PATH_BASE:="$(git rev-parse --show-toplevel)"}"

set::path() {
  # easy access to cloud-init scripts
  PATH_add "${PATH_BASE}/vendors/cloud-init/scripts"
  # easy access to needed binaries
  PATH_add "${PATH_BASE}/vendors/cloud-init/.bin"
}

check::hcloud() {
  local context

  command -v hcloud &>/dev/null || {
    echo -e "err: 🚧 install hcloud"
    return 1
  }
  
  context="$(hcloud context active)"
  [ -n "${context}" ] || {
    echo -e "err: 🥶 select a hcloud context"
    return 2
  }

  echo -e "⭐ active hcloud context: ${context}"
}

main() {
  set::path
}

[ -z "${DIRENV_IN_ENVRC}" ] || main
